.user-selection-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    font-family: 'Arial', sans-serif;
  }
  
  .user-selection-header {
    padding: 20px;
  }
  
  .user-selection-header .logo {
    margin-top: 20px;
    margin-right: 1300px;
    width: 150px;
  }
  
  .content {
    text-align: left;
    margin: 50px 0;
  }
  
  .title {
    font-size: 28px;
    font-weight: bold;
    color: #e30613; 
  }
  
  .description {
    font-size: 16px;
    margin-right: 1000px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .role-selection {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-left: 200px;
    margin-top: -150px;
  }
  
  .role-card {
    cursor: pointer;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    transition: 0.3s ease;
    width: 200px;
    text-align: center;
  }
  
  .role-card:hover {
    transform: scale(1.05);
    border-color: #e30613;
  }
  
  .role-card img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .role-card p {
    font-size: 18px;
    font-weight: 600;
  }
  
  .user-selection-footer {
    text-align: center;
    padding: 20px;
  }
  
  .train-image img {
    width: 300px;
  }
  
  .user-selection-footer p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
  }
  
  .logos {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
  
  .logos img {
    width: 50px;
    height: auto;
  }
  